body {
    background-color: #FCFCFC;
    font-family: "museo-sans", sans-serif, "Helvetica";
}

#app {
    background-color: #FFF;
}

.container-fluid>.navbar-header {
    margin: 0px;    
}

.nav>li { 
    padding: 0px 0px 0px 20px;
}

h2 { 
    font-family: "museo-sans", sans-serif, "Helvetica";
    font-size: 32px;
    margin: 5px;
    padding: 0px;
    font-weight: 400;
}

h4 { 
    font-family: "museo-sans", sans-serif, "Helvetica";
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    font-weight: 400;
}

.full-width {
    width: 100%;
}

.top-bottom-margin {
    margin: 5px 0px 0px 0px;
}

.btn.outline {
    background: none;
    padding: 8px 22px;
}

.btn-primary.outline {
    border: 2px solid #7d8f97;
    color: #7d8f97;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.nav {
    font-family: "museo-sans", sans-serif, "Helvetica";
    color: #6fc4bb;
}
.navbar {
    border: 0px;
    margin-bottom: 0px;
}

.navbar-header {
    background-color: #00dac5;
}

.navbar-toggle {
    border: 0px;
    float: left;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #03c9b6;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}


.navbar-brand img {
    height: 50px;
    width: auto;
    float: null;

}

.navbar-brand img {
    height: 23px;
    margin-left: 7px;
    width: auto;

}

.container-fluid {
    padding: 0px;
}

.brand { 
    margin-left: auto; 
    margin-right: auto; 
}

.navbar-collapse { 
    background-color: #e5fbf9;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #a6d1cd;
}

.navbar-form {
    border-bottom: 0px;
}

.login-page {
    height: 279px;
    width: 388px;
    top: 50%;
    left: 50%;
    margin-top: -139px;
    margin-left: -194px;
    position: absolute;
}

.login-page img{
    width: 80%;
    height: auto;
    margin: 0px auto;
    display: block;
}

.facebook-login {
    background-color: transparent;
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: block;
}
.setup {
    padding-top: 15px;
}
.setup h2 {
    font-family: "museo-sans", sans-serif, "Helvetica";
    color: #6fc4bb;
    margin: 0px;
    padding: 0px;
    font-weight: 200;
}

.setup img {
    width: 160px;
    height: auto;
    margin: 30px;
}

.setup-steps {
    font-family: "museo-sans", sans-serif, "Helvetica";
    color: #659f99;
    margin: 10px;
    letter-spacing: 0.5;
    text-transform: uppercase;
}

.fitbit-button {
    background-color: #1bd4b8;
    border: 0px;
    border-radius: 5px;
    margin: 5px;
}

.fitbit-logo {
    width: 325px;
    height: 45px;
    background: url("../../images/fitbit-logo.png");
    background-size: auto 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.jawbone-button {
    background-color: #e94343;
    border: 0px;
    border-radius: 5px;
    margin: 5px;
}

.jawbone-logo {
    width: 325px;
    height: 45px;
    background: url("../../images/jawbone-logo.png");
    background-size: auto 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.other-button {
    background-color: transparent;
    border: 2px solid #00dac5;
    border-radius: 5px;
    margin: 5px;
}

.other {
    width: 325px;
    height: 45px;
    font-family: "museo-sans", sans-serif, "Helvetica";
    font-size: 16px;
    color: #00dac5;
    vertical-align:middle;
    display: table-cell;
}

.other:hover {
    width: 325px;
    height: 45px;
    font-family: "museo-sans", sans-serif, "Helvetica";
    font-size: 16px;
    color: #FFF;
    vertical-align:middle;
    display: table-cell;
}

.other-button:hover {
    background-color: #00dac5;
    border: 2px solid #00dac5;
    border-radius: 5px;
    margin: 5px;
}

.fill { 
    min-height: 100%;
    height: 1000px;
    background-color: #00dac5;
}




.background {
    fill: transparent;
}
.component {
    fill: #e5fbf9;
}
.component .label {
    font-family: "museo-sans", sans-serif, "Helvetica";
    font-weight: 200;
    text-anchor: middle;
    color: #659f99;
    fill: #0000FF;
}
.arc {
    stroke-weight:.5;
    fill: #00dac5;
}

.arc2 {
    stroke-weight:1;
    fill: #3660b0;
}

.label {
    font-family:  "museo-sans", sans-serif, "Helvetica";
    text-anchor: middle;
    color: #659f99;
    font-weight: 200;
}

.radial-svg {
    width: 315px;
    margin: 30px auto;
    display: block;
}


.today-text {
    font-family:  "museo-sans", sans-serif, "Helvetica";
    text-anchor: middle;
    color: #a1aeb3;
    font-size: 16px;
    letter-spacing: 2px;
}

.steps-text {
    font-family:  "museo-sans", sans-serif, "Helvetica";
    text-anchor: middle;
    color: #00dac5;
    font-size: 16px;
    letter-spacing: 2px;
}

.steps-left {
    font-family:  "museo-sans", sans-serif, "Helvetica";
    text-anchor: middle;
    color: #7d8f97;
    letter-spacing: -2px;
    font-size: 20px;
    font-weight: 00;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tracker {
    height: 100px;
    margin: 3px 20px;
    padding: 0px;
    text-align: center;
    border: 2px solid #00dac5;
    display: block;
    position: relative;
}

.tracker-header {
    width: 100%;
    height: 30px;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    background-color: #00dac5;
    display: block;
    position: relative;
}

.tracker-header h4 {
    color: #FFF;
    padding-top: 8px;
}

.tracker-data {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    display: block;
    position: relative;
}

.tracker-data h2 {
    color: #659f99;
    margin-bottom: 0px;
    padding: 0px;
}

.tracker-data span {
    color: #a1aeb3;
    margin: 0px;
    padding:0px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.competition-box {
    height: 75px;
    padding-top: 14px;
}

.competition-box h4{
    color: #7d8f97;
    text-transform: uppercase;
}

.competition-box img{
    height: 20px;
    margin: 3px auto;
    width: auto;
}

.competition-score {
    font-family:  "museo-sans", sans-serif, "Helvetica";
    color: #7d8f97;
    text-align: right;
    display: block;
}

.competition-accumulated {
    font-family:  "museo-sans", sans-serif, "Helvetica";
    color: #7d8f97;
    font-weight: 800;
}
.competition-score {
    font-family:  "museo-sans", sans-serif, "Helvetica";
    font-size: 20px;
}

.text-right {
    text-align: right;
}

.line-right {
    border-right: 1px solid #c7cdd0;
}

.competition-text {
    font-family:  "museo-sans", sans-serif, "Helvetica";
    color: #7d8f97;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 80px;
    width: 100%;
    border-top: 1px solid #f0f0f0;
    background: #FFF;
}

.footer-tab {
    border-left: 1px solid #f0f0f0;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: table-cell;
}
.footer-tab:first-child {
    border-left: transparent;
    height: 80px;
    display: table-cell;
}
.footer-tab:hover {
    background-color: #00dac5;
}
.active{
    background-color: #00dac5;
}

.friends-tab {
    background-image: url('../images/friends.png');
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.dashboard-tab {
    background-image: url('../images/dashboard-icon.png');
    background-size: auto 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.challenges-tab {
    background-image: url('../images/challenges.png');
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.settings-tab {
    background-image: url('../images/settings.png');
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.dashboard-tab:hover {
    background-image: url('../images/dashboard-icon-hover.png');
    background-size: auto 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.friends-tab:hover {
    background-image: url('../images/friends-hover.png');
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.challenges-tab:hover {
    background-image: url('../images/challenges-hover.png');
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.settings-tab:hover {
    background-image: url('../images/settings-hover.png');
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.challenge-stat {
    border: 1px solid;
    width: 60%;
    margin: 0px auto;
}

.challenge-stat:hover {
    border: 2px solid;
}

.challengeMonster {
    width: 10%;
    margin: 30px;
}.search-friends {
  font-family:  "museo-sans", sans-serif, "Helvetica";
}

.reactable-filter-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.reactable-filter-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.friend-request {
    min-width: 300px;
    height: 25px;
    margin: 10px;
    font-family: "museo-sans", sans-serif, "Helvetica";
    font-size: 12px;
    background-color: #6fc4bb;
    color: #FFF;
}

.table-cell {
    height: 25px;
    vertical-align:middle;
    display: table-cell;
}

.list-group-item:first-child {
    border-top-left-radius:0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item {
    border: 0px;
    font-family: "museo-sans", sans-serif, "Helvetica";
    color: #CCC;
    background-color: #2C4744;
}

a.list-group-item {
    color: #FFF;   
    padding: 10px; 
}

.list-group-item-success {
    background-color: #009A8B;
}

.list-group-item-success:hover {
    background-color: #009A8B;
}

.panel {
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px;
}

a.list-group-item-success {
    color: #FFF;
    font-family: "museo-sans", sans-serif, "Helvetica";
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.circle {
    border-radius: 50%;
    width: 15px;
    height: 15px; 
    margin-top: 7px;
    background-color: #009A8B;
    /* width and height can be anything, as long as they're equal */
}

.denial-button {
    float: right;
}

.approve-button {
    border-radius: 50%;
    width: 10px;
    height: 10px; 
    margin: 10px;
    background-color: #4CB778;
    float: left;
    /* width and height can be anything, as long as they're equal */
}

.deny-button {
    border-radius: 50%;
    width: 10px;
    height: 10px; 
    margin: 10px;
    background-color: #CC4141;
    float: left;
    /* width and height can be anything, as long as they're equal */
}

.approval-text {
  padding-top: 6px;
  float: left;
}

.table>thead:first-child>tr:first-child>td {
    background-color: #F1F1F1;
}

.profile-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    margin: 5px 0px 5px 20px;
    border: 2px solid #B3CBC9;
    background-color: transparent;
    /* width and height can be anything, as long as they're equal */
}
.table>tbody>tr>td {
    border-top: 1px dashed #ddd;
    vertical-align: middle;
}
.add-friend {
    display: none;
}
.challenges {
    padding-top: 15px;
}
.challenges h2 {
    color: #6fc4bb;
    margin: 0px;
    padding: 0px;
    font-weight: 200;
}
.challenges img {
    width: 230px;
    height: auto;
    margin-top: 30px;
}
.edged-width {
    width: 90%
}
.challenges-btn {
    padding: 20px;
    border: 2px solid #6FC4BB;
    background-color: transparent;
}
.challenges-btn:hover {
    background-color: #6FC4BB;
}
.challenges-btn:hover h2{
    color: #FFF;
}