@import '_normalize';

/*
 * Dash Style Sheet
 */

/* ==========================================================================
   Base styles: opinionated defaults 
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    background-color: #FCFCFC;
    font-size: 1em;
    line-height: 1.4;
    font-family: "museo-sans", sans-serif, "Helvetica";
}

/* Remove text-shadow in selection highlight */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* Remove gap between images and bottom of their containers */ 
img {
    vertical-align: middle;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Application styles: Basic changes that stylistically work throughout app
   ========================================================================== */
h2 { 
    font-size: 32px;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

h4 { 
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
    font-weight: 400;
}

a:hover, a:active, a:visited, a:link {
    text-decoration: none;
}

/* Lists will not be used in the application, default */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fill { 
    min-height: 100%;
    height: 725px;
    background-color: #00bcd4;
}

.text-right {
    text-align: right;
}

.line-right {
    border-right: 1px solid #c7cdd0;
}

.table-cell {
    height: 25px;
    vertical-align:middle;
    display: table-cell;
}

.edged-width {
    width: 90%;
}

.half-width {
    width: 50%;
}

/* ==========================================================================
   Container Logic: Helper Classes to improve containing for the apps
   ========================================================================== */

#app {
    background-color: #FFF;
}

.full-page {
    background-color: #78c9fd;
    margin: 0;
    padding: 30px;
    display: block;
    position: relative;
}

.full-width {
    width: 100%;
}

.page-extend {
    margin-bottom: 65px;
}

.top-bottom-margin {
    margin: 5px 0px 0px 0px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Front Page styles: Designed for displays over 1024px width
   ========================================================================== */

#iphone {
    width: 300px;
    height: 607px;
    background: transparent url('../images/iphone-template.png') no-repeat;
    background-size: 100%;
    margin: 50px auto;
}

#iphone-container {
    width: 265px;
    height: 469px;
    padding: 68px 18px;
    display: block;
}

#iphone-container object {
    width: 264px;
    height: 467px;
}

.splash-image { margin: 0px auto; }
.tech-stack-row { background-color: #FFF; padding: 20px; }

.tech-stack {
    width: 1050px;
    margin: 20px auto;
    display: block;
}
.tech-stack h4{ text-transform: uppercase; }

.tech-stack img{
    float: left;
    margin: 0px;
    padding: 0px;
}

.team {
    padding: 40px;
    background-color: #EFF3F4;
}

.team .container {
    padding: 10px;
    width: 1000px;
}

.portfolio i {
    margin: 10px 5px;
}

.github-btn {
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px;
    margin: 40px;
    font-size: 14px;
}

.github-btn:hover {
    border: 2px solid #FFFFFF;
    background-color: #FFF;
    color: #78c9fd;
}

/* ==========================================================================
   Application: Footer information
   ========================================================================== */

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 60px;
    width: 100%;
    border-top: 1px solid #f0f0f0;
    background: #FFF;
}

.footer-tab {
    border-left: 1px solid #f0f0f0;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: table-cell;
}
.footer-tab:first-child {
    border-left: transparent;
    height: 60px;
    display: table-cell;
}
.footer-tab:hover {
    background-color: #00bcd4;
}
.active{
    background-color: #00bcd4;
}

.dashboard-tab {
    background: url('../images/dashboard-icon.png') no-repeat center;
    background-size: auto 30%;
}

.dashboard-tab:hover {
    background: #00bcd4 url('../images/dashboard-icon-hover.png') no-repeat center;
    background-size: auto 30%;
}

.friends-tab {
    background: url('../images/friends.png') no-repeat center;
    background-size: auto 40%;
}

.friends-tab:hover {
    background: #00bcd4 url('../images/friends-hover.png') no-repeat center;
    background-size: auto 40%;
}

.challenges-tab {
    background: url('../images/challenges.png') no-repeat center;
    background-size: auto 40%;
}

.challenges-tab:hover {
    background: #00bcd4 url('../images/challenges-hover.png') no-repeat center;
    background-size: auto 40%;
}

.settings-tab {
    background: transparent url('../images/settings.png') no-repeat center;
    background-size: auto 40%;
}

.settings-tab:hover {
    background: #00bcd4 url('../images/settings-hover.png') no-repeat center;
    background-size: auto 40%;
}

/* ==========================================================================
   Adjusted Bootstrap Styles: Intercepts Twtitter Bootstrap CDN
   ========================================================================== */

.row {
    margin-right: 0;
    margin-left: 0;
}

.table-responsive {
    margin-bottom: 85px;
}

.container-fluid>.navbar-header {
    margin: 0px;    
    height: 40px;
}

.navbar { 
    height: 40px;
}

.nav>li { 
    padding: 0px 0px 0px 20px;
}


/* ==========================================================================
   Button Outline: Mainly used throughout app
   ========================================================================== */

.btn.outline {
    background: none;
    padding: 8px 22px;
}

.btn-primary.outline {
    border: 2px solid #7d8f97;
    color: #7d8f97;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}

.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.btn-lg {
    padding: 8px 16px;
    font-size: 10px;
}

/* ==========================================================================
   Navigation Bar: Intercepts Twitter Bootstrap CDN Styles
   ========================================================================== */

.nav {
    color: #6fc4bb;
    height: 40px;
}
.navbar {
    border: 0px;
    margin-bottom: 0px;
    min-height: 40px;
}

.navbar-header {
    width: 100%;
    height: 40px;
    top: 0;
    background-color: #00bcd4;
    position: fixed;
    z-index: 100;
}

.navbar-toggle {
    border: 0px;
    float: left;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #03c9b6;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-brand { 
    float: inherit;
    margin: 0px;
    padding: 0px;
}

.navbar-brand img {
    height: 50px;
    width: auto;
    float: null;
    margin: 10px auto 0px;

}

.navbar-brand img {
    height: 20px;
    width: auto;

}

.container-fluid {
    padding: 0px;
}

.brand { 
    margin-left: auto; 
    margin-right: auto; 
}

.navbar-collapse { 
    background-color: #00bcd7;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;    
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #a6d1cd;
}

.navbar-form {
    border-bottom: 0px;
}


/* ==========================================================================
   Login Page: Styles set for Login Page
   ========================================================================== */

.login-page {
    height: 279px;
    width: 388px;
    top: 50%;
    left: 50%;
    margin-top: -139px;
    margin-left: -194px;
    padding: 40px;
    position: absolute;
}

.login-page img{
    width: 70%; /* Set Width */
    height: auto;
    margin: 0px auto;
    display: block;
}

.facebook-login {
    background-color: transparent;
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: block;
}

/* ==========================================================================
   Setup/Connect Page: Styles for Setup/Connect
   ========================================================================== */

.setup { padding-top: 15px; }
.setup h2 { color: #6fc4bb; }

.setup img {
    width: 140px;
    height: auto;
    margin: 20px;
}

.setup-steps {
    color: #659f99;
    margin: 10px;
    letter-spacing: 0.5;
    text-transform: uppercase;
}

.fitbit-button {
    width: 100%;
    margin: 0px;
    background-color: #1bd4b8;
    border: 0px;
    border-radius: 0px;
}
.fitbit-button:hover { background-color: #77E4D4; }
.fitbit-logo {
    width: 180px;
    height: 70px;
    margin: 0px auto;
    background: transparent url("../../images/fitbit-logo.png") no-repeat center;
    background-size: 80% auto;
    display: block;
}

.jawbone-button {
    width: 100%;
    height: 80px;
    background-color: #e94343;
    border: 0px;
    border-radius: 0px;
    margin: 0px;
}
.jawbone-button:hover { background-color: #EE6565; }
.jawbone-logo {
    width: 325px;
    height: 45px;
    margin: 0px auto;
    background: transparent url("../../images/jawbone-logo.png") no-repeat center;
    background-size: auto 80%;
    display: block;
}


/* Other Button - Removed due to not being used anymore
   ========================================================================== */
/*
.other-button {
    background-color: transparent;
    border: 2px solid #00bcd4;
    border-radius: 5px;
    margin: 5px;
}

.other {
    width: 325px;
    height: 45px;
    font-size: 16px;
    color: #00bcd4;
    vertical-align:middle;
    display: table-cell;
}

.other:hover { color: #FFF; }

.other-button:hover {
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    border-radius: 5px;
    margin: 5px;
}
*/

/* ==========================================================================
   Dashboard: D3 Styling Styling
   ========================================================================== */

.background {
    fill: transparent;
}

.component { fill: #e5fbf9; }

.component .label {
    font-weight: 200;
    text-anchor: middle;
    color: #659f99;
    fill: #0000FF;
}

.arc { stroke-weight:.5; fill: #00bcd4; }
.arc2 { stroke-weight:1; fill: #3660b0; }

.label {
    text-anchor: middle;
    color: #659f99;
    font-weight: 200;
}

.radial-svg {
    width: 300px;
    margin: 0 auto;
    display: block;
}

.today-text {
    text-anchor: middle;
    color: #a1aeb3;
    font-size: 16px;
    letter-spacing: 2px;
}

.steps-text {
    text-anchor: middle;
    color: #00bcd4;
    font-size: 16px;
    letter-spacing: 2px;
}

.steps-left {
    text-anchor: middle;
    color: #7d8f97;
    letter-spacing: -2px;
    font-size: 20px;
    font-weight: 00;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* ==========================================================================
   Dashboard: Tracker Styling
   ========================================================================== */

.tracker {
    height: 100%;
    padding: 20px;
    background-color: #193540;
    text-align: center;
    display: block;
    position: relative;
}

.tracker-data {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    display: block;
    position: relative;
}

.tracker-data h2 { color: #FFF; }

.tracker-data span {
    color: #A8BBC4;
    margin: 0px;
    padding:0px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dailygoal { background-color: #284957; }

/* ==========================================================================
   Dashboard: Challenges Box
   ========================================================================== */

.challenges-box-dash { background-color: #00626F; }
.challenges-box-dash ul.current-challenges li{ border-bottom: null; }
.challenges-box-dash .challenge-box .competition-accumulated { color: #FFF; }
.challenges-box-dash .challenge-box h4 { color: #FFF; }
.competition-box { height: 75px; padding-top: 14px; background-color: #00626f; }
.competition-box h4{ color: #FFF; text-transform: uppercase; font-size: 12px; }
.competition-box img{
    height: 20px;
    margin: 3px auto;
    width: auto;
}

.competition-score {
    color: #FFF;
    text-align: right;
    display: block;
}

.competition-accumulated {
    color: #FFF;
    font-weight: 800;
}
.competition-score {
    font-size: 16px;
}

.competition-text {
    color: #A8BBC4;
    font-size: 10px;
    padding: 5px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ==========================================================================
   Dashboard: Enclosing Bottom Part Display
   ========================================================================== */

.fixed-tracker-dashboard {
    position: absolute;
    background-color: #FFF;
    padding-bottom: 55px;
    top: 35px;
    width: 100%;
}

/* ==========================================================================
   Challenge Stats: Basic Styling;
   ========================================================================== */

.challenge-stat {
    border: 1px solid;
    width: 60%;
    margin: 0px auto;
}

.challenge-stat:hover {
    border: 2px solid;
}

/* ==========================================================================
   Friends: React Table
   ========================================================================== */

.reactable-filter-input {
    display: block;
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.reactable-filter-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


/* ==========================================================================
   Friends: Steps Definnition
   ========================================================================== */

.friends-steps {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    font-weight: 800;
    background-color: #00bcd7;
    display: block;
    position: relative;
}


/* ==========================================================================
   Friends: Friend Request Drop Down
   ========================================================================== */

.friend-request {
    min-width: 300px;
    height: 25px;
    margin: 10px;
    font-size: 12px;
    background-color: #6fc4bb;
    color: #FFF;
}

.add-friend { display: none; }

.list-group-item:first-child, .list-group-item:last-child {
    border-top-left-radius:0px;
    border-top-right-radius: 0px;
}

.list-group-item { border: 0px; color: #CCC; background-color: #193540; }
a.list-group-item { color: #FFF; padding: 10px; }

.list-group-item-success {
    color: #A8BBC4;
    font-size: 14px;
    background-color: #0096a7;
}
.list-group-item-success:hover { background-color: #193540; }

.panel {
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px;
}

a.list-group-item-success {
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

a.list-group-item-success:focus, a.list-group-item-success:hover {
    color: #A8BBC4;
    background-color: #00626f;
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px; 
    margin-top: 6px;
    background-color: #009A8B;
    border: 2px solid #3d5a56;
    /* width and height can be anything, as long as they're equal */
}

.denial-button { float: right; }

.approve-button {
    border-radius: 50%;
    width: 10px;
    height: 10px; 
    margin: 10px;
    background-color: #4CB778;
    float: left;
}

.deny-button {
    border-radius: 50%;
    width: 10px;
    height: 10px; 
    margin: 10px;
    background-color: #CC4141;
    float: left;
}

.approval-text {
    padding-top: 6px;
    float: left;
}

.table>thead:first-child>tr:first-child>td {
    background-color: #F1F1F1;
}

.table>tbody>tr>td {
    border-top: 1px dashed #ddd;
    vertical-align: middle;
}


/* ==========================================================================
   Friends: Profile Circle Styling
   ========================================================================== */

.profile-circle {
    border-radius: 50%;
    width: 55px;
    height: 55px; 
    margin: 0px;
    border: 2px solid #9ab2b4;
}


/* ==========================================================================
   Current Challenge: Basic Styling
   ========================================================================== */
.challenges {
    padding-top: 15px;
}

.challenges h2 {
    color: #6fc4bb;
    font-weight: 200;
}

.challenges img {
    width: 230px;
    height: auto;
    margin-top: 30px;
}

.challenges-btn {
    border: 2px solid #789AA2;
    background-color: transparent;
    color: #789AA2;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.challenges-btn:hover { background-color: #789AA2; }
.challenges-btn:hover h2 { color: #FFF; }

.challenge-header {
    height: 200px;
    margin: 0;
    padding: 2.5em;
    background-color: #00bcd7;
    display: block;
}

.challenge-header .info{
    width: 100%;
    margin: 0;
    padding: 0;
    color: #FFF;
    text-align: center;
}

.challenge-header h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}

.challenge-header img{
    width: 120px;
    height: auto;
    margin: 10px;
}
.challenge-header span{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: block;
}

.challenge-box { height: 75px; padding-top: 14px; }
.challenge-box h4{
    color: #00626F;
    text-transform: uppercase;
    font-size: 12px;
}

.challenge-box .competition-accumulated {
    color: #00626F;
    font-weight: 800;
}

.challenge-box .competition-score { color: #00626F; text-align: right; }
.challenge-box .competition-total{ color: #789AA2; text-align: right; }
.challenge-box img{
    height: 20px;
    margin: 3px auto;
    width: auto;
}

ul.current-challenges li{ padding: 20px; border-bottom: 1px dashed #ddd; }​
ul.current-challenges li:last-child { padding: 20px; border-bottom: 1px solid #ddd; }​

.join-challenge .text{ width: 100%; position: relative;  display: block; }
.join-challenge:hover {  color: #00bcd4; background-color: #193540; }
.join-challenge .text a:hover {  text-decoration: none; }
.join-challenge .add-icon a:hover {  text-decoration: none; }

.join-challenge { 
    width: 100%;
    color: #FCFCFC;
    background-color: #55B4CB;
    padding: 20px 0px 30px 0px;
    display: block;
}

.join-challenge .add-icon { 
    width: 100%;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    position: relative;
    display: block;   
}

/* ==========================================================================
   User Table: Basic Styling
   ========================================================================== */

.user-details, .user-details span { display: block; }
.user-details .device{
    color: #5d817f;
    font-size: 8px;
    letter-spacing: 2px;
    font-weight: strong;
    text-transform: uppercase;
}
.user-progress {
    height: 100%;
    padding: 10px;
    background-color: #193540;
    text-align: center;
    display: block;
    position: relative;
}
.user-progress h4 { color: #FFF; }
.user-progress .title {
    color: #00bcd7;
    text-transform: uppercase;
    text-align: center;
}

.user-steps {
    color: #FFF;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.invite-friend {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #193540;
    bottom: 45px;
    position: absolute;
    display: none;
}

/* ==========================================================================
   User Table: Leaderboard
   ========================================================================== */

.leader-board-photo {
    width: 100%;
    display: block;
}

.leader-board-photo .position {
    border-radius: 50%;
    width: 20px;
    height: 20px; 
    left: 40px;
    top: 15px;
    background-color: #00bed3;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    position: relative;
}

.leader-board-photo .position span {
    font-size: 12px;
    color: #FFF;
}

/* ==========================================================================
   Transition Effects: Basic Stuff used throughout the application;
   ========================================================================== */

.transition-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.transition-enter.transition-enter-active {
    opacity: 1;
}

.example-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
    opacity: 0.01;
}

.fade-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
}

@import 'animate';