body {
    background-color: #FFF;
}

.navbar {
    border: 0px;
    margin-bottom: 0px;
}

.navbar-header {
    background-color: #00dac5;
}

.navbar-toggle {
    border: 0px;
    float: left;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #03c9b6;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-brand img {
    height: 100%;
    width: auto;
}

.brand { 
    margin-left: auto; 
    margin-right: auto; 
}

.navbar-collapse { 
    background-color: #e5fbf9;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #a6d1cd;
}

.navbar-form {
    border-bottom: 0px;
}

.login-page {
    height: 279px;
    width: 388px;
    top: 50%;
    left: 50%;
    margin-top: -139px;
    margin-left: -194px;
    position: absolute;
}

.login-page img{
    width: 80%;
    height: auto;
    margin: 0px auto;
    display: block;
}

.facebook-login {
    background-color: transparent;
    border: 0px;
    margin: 0px;
    padding: 0px;
    display: block;
}
.setup {
    padding-top: 15px;
}
.setup h2 {
    font-family: "museo-sans", sans-serif, "Helvetica";
    color: #6fc4bb;
    margin: 0px;
    padding: 0px;
    font-weight: 200;
}

.setup img {
    width: 160px;
    height: auto;
    margin: 30px;
}

.setup-steps {
    font-family: "museo-sans", sans-serif, "Helvetica";
    color: #659f99;
    margin: 10px;
    letter-spacing: 0.5;
    text-transform: uppercase;
}

.fitbit-button {
    background-color: #1bd4b8;
    border: 0px;
    border-radius: 5px;
    margin: 5px;
}

.fitbit-logo {
    width: 325px;
    height: 45px;
    background: url("../../images/fitbit-logo.png");
    background-size: auto 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.jawbone-button {
    background-color: #e94343;
    border: 0px;
    border-radius: 5px;
    margin: 5px;
}

.jawbone-logo {
    width: 325px;
    height: 45px;
    background: url("../../images/jawbone-logo.png");
    background-size: auto 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

.other-button {
    background-color: transparent;
    border: 2px solid #00dac5;
    border-radius: 5px;
    margin: 5px;
}

.other {
    width: 325px;
    height: 45px;
    font-family: "museo-sans", sans-serif, "Helvetica";
    font-size: 16px;
    color: #00dac5;
    vertical-align:middle;
    display: table-cell;
}

.other:hover {
    width: 325px;
    height: 45px;
    font-family: "museo-sans", sans-serif, "Helvetica";
    font-size: 16px;
    color: #FFF;
    vertical-align:middle;
    display: table-cell;
}

.other-button:hover {
    background-color: #00dac5;
    border: 2px solid #00dac5;
    border-radius: 5px;
    margin: 5px;
}

.fill { 
    min-height: 100%;
    height: 1000px;
    background-color: #00dac5;
}




.background {
    fill: transparent;
}
.component {
    fill: #e5fbf9;
}
.component .label {
    font-family: "museo-sans", sans-serif, "Helvetica";
    font-weight: 200;
    text-anchor: middle;
    color: #659f99;
    fill: #0000FF;
}
.arc {
    stroke-weight:.5;
    fill: #00dac5;
}

.arc2 {
    stroke-weight:1;
    fill: #3660b0;
}

.label {
    font-family:  "museo-sans", sans-serif, "Helvetica";
    text-anchor: middle;
    color: #659f99;
    font-weight: 200;
}

.radial-svg {
    width: 345px;
    margin: 30px auto;
    display: block;
}


.today-text {
    font-family:  "museo-sans", sans-serif, "Helvetica";
    text-anchor: middle;
    color: #a1aeb3;
    font-size: 16px;
    letter-spacing: 2px;
}

.steps-text {
    font-family:  "museo-sans", sans-serif, "Helvetica";
    text-anchor: middle;
    color: #00dac5;
    font-size: 16px;
    letter-spacing: 2px;
}

.steps-left {
    font-family:  "museo-sans", sans-serif, "Helvetica";
    text-anchor: middle;
    color: #7d8f97;
    letter-spacing: -2px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}